$ ->
  $('#search-box').bind('enterKey', (e) ->
    $.post("/customer/search.json", { "query": $('#search-box').val()}, (data) ->
      if data
        console.log data
        date = (data.due_date * 1000)
        $('.results-container').html('')
        customer_info_div = $('<div>')
        form_elem = $("<form action='/customer/update' method='post'>")
        form_elem.append("<span>Customer name:</span><input id='name_input' name='customer[name]' class='form-control' type='text', value='#{data.name}' />")
        form_elem.append("<br/>")
        form_elem.append("<span>Customer email:</span><input id='email_input' name='customer[email]' class='form-control' type='text', value='#{data.email}' />")
        form_elem.append("<br/>")
        form_elem.append("<span>Baby due date:</span><input id='due_date_input' name='customer[due_date]' class='form-control' type='text', value='#{moment(date).format('MM/DD/YYYY')}' />")
        form_elem.append("<br/>")
        form_elem.append("<span>Customer user id:</span><input id='user_id_input' name='customer[user_id]' class='form-control' type='text', value='#{data.user_id}' />")
        form_elem.append("<input type='hidden' name='customer[id]' value=#{data.id}>")
        form_elem.append("<input type='submit' name='commit' class='btn btn-primary'/>")
        customer_info_div.append(form_elem)
        $('.results-container').append customer_info_div
        $('#due_date_input').datepicker()

    )
  )
  $('#search-box').keyup (e) ->
    if e.keyCode == 13
      $(this).trigger("enterKey")
